In [1]:
import numpy as np
import pandas as pd

In [2]:
dtypes={'pop_id':'string','TIC':'string','gaiadr3_source_id':'string','epic_id':'string'}

In [3]:
df=pd.read_csv('Full_complex_sarah - Objects and References.csv',dtype=dtypes)

In [4]:
idtable=df[['pop_id','TIC','gaiadr3_source_id','epic_id','per','per2','group','age_Myr']]

In [5]:
papertable=df.drop(columns=['pop_id','TIC','gaiadr3_source_id','epic_id','per'])

In [6]:
idtable['disco_paper']=""

/var/folders/zd/14hqhh8n6v122yj77t47nyv40000gn/T/ipykernel_90672/2757942557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idtable['disco_paper']=""

In [7]:
for index, idrow in idtable.iterrows():
    paperrow=papertable.loc[index]
    for papercol in papertable.columns:
        value=paperrow[papercol]
        if value=='First CR determination':
            idtable.at[index,'disco_paper']=papercol

In [8]:
idtable

,pop_id,TIC,gaiadr3_source_id,epic_id,per,per2,group,age_Myr,disco_paper
0,0,59129133,3392549449695395968,246676629,0.625300,0.6332,Taurus,2.0,Stauffer_2018
1,1,59091144,3392553852037339776,246682490,0.437700,3.6324,Taurus,2.0,Stauffer_2018
2,2,118769116,3411342134934571520,247343526,0.356800,NaN,Taurus,2.0,Stauffer_2018
3,3,175594111,6045818685674325760,203354381,0.599300,NaN,Upper Scorpius,10.0,Stauffer_2018
4,4,322928171,6048612514663537280,203636498,0.779400,NaN,Upper Scorpius,10.0,Stauffer_2018
...,...,...,...,...,...,...,...,...,...
194,207,259586708,4784133288986121728,<NA>,0.938333,NaN,Columba,42.0,Bouma_2024
195,208,245902096,3309889784723415168,246776923,0.637500,0.5551,Taurus Foreground,30.0,Rebull_2020
196,209,245874053,<NA>,246938594,1.083900,NaN,Taurus,2.0,Rebull_2020
197,210,245868207,3313414750283302400,246969828,1.006300,1.2995,Taurus,2.0,Rebull_2020
198,211,268324578,147799209159857280,247794636,1.721100,2.6225,Taurus,2.0,Rebull_2020

In [9]:
idtable[['author', 'year']] = idtable['disco_paper'].str.split('_', expand=True)

/var/folders/zd/14hqhh8n6v122yj77t47nyv40000gn/T/ipykernel_90672/274077772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idtable[['author', 'year']] = idtable['disco_paper'].str.split('_', expand=True)
/var/folders/zd/14hqhh8n6v122yj77t47nyv40000gn/T/ipykernel_90672/274077772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idtable[['author', 'year']] = idtable['disco_paper'].str.split('_', expand=True)

In [10]:
idtable.to_csv('idswithdiscopaper.csv', index=False)

In [11]:
gaiaonly=idtable[idtable['gaiadr3_source_id']!='']

In [12]:
gaiaonly.to_csv('ourgaiaids.csv', index=False)